<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="example-container mat-elevation-z8">
          <div class="example-loading-shade"
                *ngIf="isLoadingResults">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
          </div>
          <div *ngIf="itens">
            <table mat-table [dataSource]="itens" class="example-table"
                    matSort matSortActive="tip_ite_id" matSortDisableClear matSortDirection="asc" class="mat-elevation-z8">
        
              <!-- Position Column -->
              <ng-container matColumnDef="tip_ite_id">
                <th mat-header-cell *matHeaderCellDef> Tipo </th>
                <td mat-cell *matCellDef="let element"> {{element.tip_ite_id}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="ite_nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.ite_nome}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="ite_preco">
                <th mat-header-cell *matHeaderCellDef> Preço </th>
                <td mat-cell *matCellDef="let element"> {{element.ite_preco}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>